<!-- 
<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form class="form" method="" action="">
                    <div class="header header-primary text-center">
                        <div class="logo-container">
                            <img src="assets/img/now-logo.png" alt="">
                        </div>
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="content">
                          <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                            </div>
                              <input type="email" class="form-control" formControlName="email" placeholder="email.." (focus)="focus=true" (blur)="focus=false" >
                          </div>
                          <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                            </div>
                              <input type="text" formControlName="password" placeholder="password..." class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
                          </div>
                        </div>
                        <div class="footer text-center">
                            <button 
                            [disabled]="formSubmitting" 
                            type="submit" 
                            class="btn btn-success btn-round btn-lg btn-block">
                                <ng-container *ngIf="!formSubmitting">Login</ng-container>
                                <span class="spinner" *ngIf="formSubmitting"></span>
                            </button>
                        </div>
                    </form>
                    <div class="pull-left">
                        <h6>
                            <a class="link" routerLink="/signup">Create Account</a>
                        </h6>
                    </div>
                    <div class="pull-right">
                        <h6>
                            <a class="link">Need Help?</a>
                        </h6>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a [routerLink]="['/']">
                            Home
                        </a>
                    </li>
                    <li>
                        <a>
                            About Us
                        </a>
                    </li>
                    <li>
                        <a>
                            Blog
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
              {{data | date: 'yyyy'}}, All rights reserved by
                <a>Attractive Travels</a>.
            </div>
        </div>
    </footer>
</div> -->


<div class="container-fluid conya">
	<div class="side-left">
		<div class="sid-layy">
			<div class="row slid-roo">
				<div class="data-portion">
					<h2>Manage Your orders</h2>
					<p>Add captions to your slides easily with the .carousel-caption element within any .carousel-item. They can be easily hidden on smaller viewports, as shown below, with optional display utilities. We hide them initially with .d-none and bring them back on medium-sized devices </p>
					<ul>
						<li>Ph :- +91 8839285950</li>
						<!-- <li>Fax :- (+7867 65 544)</li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="side-right"> <img class="logo" src="../../../assets/icon/creative treval PNG.png" alt="">
            <h2>Login into Your Account</h2>
            <div class="form-row">
                <label for="">Email ID</label>
                <input type="email" formControlName="email" placeholder="yourname@company.com" class="form-control form-control-sm"> </div>
            <div class="form-row">
                <label for="">Password</label>
                <input type="password" formControlName="password" placeholder="Password" class="form-control form-control-sm"> </div>
            <div class="form-row row skjh">
                <div class="col-7 left no-padding">
                    <input type="checkbox">Keep me Sign In </div>
                <div class="col-5"> <span> <a href="">Forget Password ?</a></span> </div>
            </div>
            <div class="form-row dfr">
                <button [disabled]="formSubmitting" type="submit" class="btn btn-sm btn-success">
                    <ng-container *ngIf="!formSubmitting">Login</ng-container>
                    <span class="spinner" *ngIf="formSubmitting"></span>
                </button>
                <div class="col-12 new-acc"> <a routerLink="/signup">Create New Account ?</a> </div>
            </div>
            <div class="ord-v">
                <a href="or login with"></a>
            </div>
            <div class="soc-det">
                <ul>
                    <li class="facebook"><i class="fab fa-facebook-square"></i></li>
                    <li class="twitter"><i class="fab fa-twitter"></i></li>
                    <li class="pin"><i class="fab fa-instagram"></i></li>
                </ul>
            </div>
        </div>
    </form>
	
</div>