<div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/shifaaz-shamoon-qtbV_8P_Ksk-unsplash.jpg');">
    </div>
    <div class="container">
        <div class="content-center">
            <h1 class="title">Quotes</h1>
        </div>
    </div>
</div>
<div class="container-fluid mt-4">
    <table>
        <thead>
        <tr>
            <th>S.N.</th>
            <th>Location</th>
            <th>Date</th>
            <th>Email</th>
            <th>Mobile</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of quotes; index as i">
            <td> {{i+1}}</td>
            <td>{{item?.location}}</td>
            <td>{{item?.date_of_arrival}}</td>
            <td>{{item?.email}}</td>
            <td>{{item?.mobile}}</td>
        </tr>
        </tbody>
    </table>
</div>