<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/denys-nevozhai-guNIjIuUcgY-unsplash.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Top Destinations</h1>
                <h3 class="title">Discover tours, attractions and activities</h3>
            </div>
        </div>
    </div>

    <div class="tourDestLst">
        <div class="tourDestItm">
           <a href="/tours/dubai-attractions-united-arab-emirates" style="background-image:url('//cdn.yourholiday.me/static/dynimg/destination/20/600x300/2236942-2236941_dubai-main.jpg');">
              <div class="destTtlCtr">
                 <div class="destTtl">Dubai</div>
              </div>
           </a>
        </div>
        <div class="tourDestItm">
           <a href="/tours/bangkok-attractions-thailand" style="background-image:url('//cdn.yourholiday.me/static/dynimg/destination/77/600x300/1722435-1722434_1jpg.jpg');">
              <div class="destTtlCtr">
                 <div class="destTtl">Bangkok</div>
              </div>
           </a>
        </div>
        <div class="tourDestItm">
           <a href="/tours/phuket-attractions-thailand" style="background-image:url('//cdn.yourholiday.me/static/dynimg/destination/81/600x300/1749097-1749096_1jpg.jpg');">
              <div class="destTtlCtr">
                 <div class="destTtl">Phuket</div>
              </div>
           </a>
        </div>
        <div class="tourDestItm">
           <a href="/tours/zurich-attractions-switzerland" style="background-image:url('//cdn.yourholiday.me/static/dynimg/destination/72/600x300/1648076-1648075_zurichjpg.jpg');">
              <div class="destTtlCtr">
                 <div class="destTtl">Zurich</div>
              </div>
           </a>
        </div>
        <div class="tourDestItm">
           <a href="#" style="background-image:url('//cdn.yourholiday.me/static/dynimg/destination/31/600x300/2210318-2210317_bali.jpg');">
              <div class="destTtlCtr">
                 <div class="destTtl">
                    Bali<br><span class="u_bigF">Coming soon</span>
                 </div>
              </div>
           </a>
        </div>
        <div class="tourDestItm">
           <a href="#" style="background-image:url('//cdn.yourholiday.me/static/dynimg/destination/58/600x300/2069277-2069276_hongkong_city.jpg');">
              <div class="destTtlCtr">
                 <div class="destTtl">
                    Hong Kong<br><span class="u_bigF">Coming soon</span>
                 </div>
              </div>
           </a>
        </div>
        <div class="tourDestItm">
           <a href="#" style="background-image:url('//cdn.yourholiday.me/static/dynimg/destination/27/600x300/1459518-1459517_londonbackjpg.jpg');">
              <div class="destTtlCtr">
                 <div class="destTtl">
                    London<br><span class="u_bigF">Coming soon</span>
                 </div>
              </div>
           </a>
        </div>
        <div class="tourDestItm">
           <a href="#" style="background-image:url('//cdn.yourholiday.me/static/dynimg/destination/28/600x300/2186258-2186257_paris-3.jpg');">
              <div class="destTtlCtr">
                 <div class="destTtl">
                    Paris<br><span class="u_bigF">Coming soon</span>
                 </div>
              </div>
           </a>
        </div>
        <div class="tourDestItm">
           <a href="#" style="background-image:url('//cdn.yourholiday.me/static/dynimg/destination/43/600x300/2210525-2210524_singapore-3.jpg');">
              <div class="destTtlCtr">
                 <div class="destTtl">
                    Singapore<br><span class="u_bigF">Coming soon</span>
                 </div>
              </div>
           </a>
        </div>
        <div class="tourDestItm">
           <a href="#" style="background-image:url('//cdn.yourholiday.me/static/dynimg/destination/45/600x300/2183049-2183048_kul11.jpg');">
              <div class="destTtlCtr">
                 <div class="destTtl">
                    Kuala Lumpur<br><span class="u_bigF">Coming soon</span>
                 </div>
              </div>
           </a>
        </div>
        <div class="tourDestItm">
           <a href="#" style="background-image:url('//cdn.yourholiday.me/static/dynimg/destination/46/600x300/1459153-1459152_romebackjpg.jpg');">
              <div class="destTtlCtr">
                 <div class="destTtl">
                    Rome<br><span class="u_bigF">Coming soon</span>
                 </div>
              </div>
           </a>
        </div>
        <div class="tourDestItm">
           <a href="#" style="background-image:url('//cdn.yourholiday.me/static/dynimg/destination/49/600x300/1836599-1836598_sydney_jpg.jpg');">
              <div class="destTtlCtr">
                 <div class="destTtl">
                    Sydney<br><span class="u_bigF">Coming soon</span>
                 </div>
              </div>
           </a>
        </div>
        <div class="tourDestItm">
           <a href="#" style="background-image:url('//cdn.yourholiday.me/static/dynimg/destination/41/600x300/1507718-1507717_barcelonabackjpg.jpg');">
              <div class="destTtlCtr">
                 <div class="destTtl">
                    Barcelona<br><span class="u_bigF">Coming soon</span>
                 </div>
              </div>
           </a>
        </div>
     </div>

 
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a>
                            Home
                        </a>
                    </li>
                    <li>
                        <a>
                            About Us
                        </a>
                    </li>
                    <li>
                        <a>
                            Blog
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
</div>
