<section class="contact-wrapper">
    <div class="container">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="row form-wrapper">
                <h1>Get Quote</h1>
                <div class="col-md-6">
                    <div class="form-group">
                        <label> Email</label>
                        <input
                        [ngClass]="{'invalid': f.email.touched && f.email.errors}"
                        type="email" 
                        formControlName="email" 
                        class="form-control" 
                        />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label> Mobile</label>
                        <input 
                        [ngClass]="{'invalid': f.mobile.touched && f.mobile.errors}"
                        type="text" 
                        formControlName="mobile" 
                        class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label> Location</label>
                        <input 
                        [ngClass]="{'invalid': f.location.touched && f.location.errors}"
                        type="text" 
                        formControlName="location"  
                        class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label> Date Of Arrival</label>
                        <input 
                        [ngClass]="{'invalid': f.date_of_arrival.touched && f.date_of_arrival.errors}"
                        type="date" 
                        formControlName="date_of_arrival" 
                        class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label> Hotel Category</label>
                        <input 
                        [ngClass]="{'invalid': f.hotel_category.touched && f.hotel_category.errors}"
                        type="text" 
                        formControlName="hotel_category" 
                        class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label> No of Nights with Places</label>
                        <input type="text" formControlName="number_of_nights_with_places"  class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label> Passengers Name</label>
                        <input type="text" formControlName="passenger_name"  class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>NO of Pax</label>
                        <input type="text" formControlName="number_of_pax_with_age"  class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>No of  Rooms</label>
                        <input min="0" type="number" formControlName="number_of_rooms"  class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>No of Extra Bed</label>
                        <input type="text" formControlName="number_of_extra_bed"  class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Meal Plan</label>
                        <input type="text" formControlName="meal_plan"  class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Sightseeing</label>
                        <input type="text" formControlName="sightseeing"  class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Transfer By SIC/PVT</label>
                        <input type="text" formControlName="transfer_by"  class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Travel By Air/Train/Bus</label>
                        <input type="text" formControlName="travel_by"  class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Remark or Special Request if Any</label>
                        <input type="text" formControlName="remark"  class="form-control" />
                    </div>
                </div>
                <button type="submit" class="btn btn-success col-12">GET PRICE</button>
            </div>
        </form>
    </div>
</section>
